.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

th:hover {
  /* cursor: pointer; */
  /* cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; */
}

th span {
  font-size: 8px;
  vertical-align: middle;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #f2f2f2;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
.tableWrapper {
  height: 100%;
  padding: 20px;
  overflow: auto;
  flex: 1;
  margin: 0;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 388px;
  border: var(--rgt-border);
}
 
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  background: var(--rgt-background-color);
  z-index: 1;
  border-top: var(--rgt-border);
  overflow-x: auto;
  overflow-y: hidden;
}

.tablePagination{
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.popupButton {
  position: absolute;
  right: 25px;
  cursor: pointer;
  font-size: 28px;
}

.popupContent {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.popupContent label {
  margin-left: 5px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.draggableColumns {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.draggableColumns:active{
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}